@import "../../styles/globals.scss";
* {
  box-sizing: border-box;
  color: $bg-color;
  font-family: $primary-family;
  margin: 0;
  padding: 0;
}
.container {
  background-size: cover;
  background-repeat: no-repeat;
  height: 619px;
  width: 100vw;
}
.font {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  font-style: normal;
  font-weight: $font-weight;
  font-size: 24px;
  line-height: 36px;
  margin-top: 73px;
}
h5 {
  display: none;
}
.tag {
  width: 850px;
  font-size: 58px;
  text-align: center;
  line-height: 80px;
  letter-spacing: 0.2px;
  font-size: $font-secondary;
  font-weight: $font-weight;
}
h4 {
  width: 728px;
  height: 96px;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  color: #f7f7f7;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
}
.btn-orng {
  width: 236px;
  height: 68px;
  background: $theme-color;
  border-radius: 30px;
  font-family: $primary-family;
  font-weight: $font-weight;
  border: none;
}

.btn-transparent {
  width: 236px;
  height: 68px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 30px;
}
.img-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

hr {
  width: 50%;
  margin: 80px auto;
  border: 3px solid #e4e4e4;
}

@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
    background: #fafafa;
  }
  .font {
    flex-wrap: wrap;
  }
  h3 {
    display: none;
  }
  h5 {
    display: block;
    font-style: normal;
    font-weight: $font-weight;
    font-size: 24px;
    padding: 2%;
    margin-top: 80px;
    line-height: 24px;
    color: black;
  }
  .tag {
    width: 90vw;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #252b42;
  }
  h4 {
    width: 320px;
    height: 76px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;

    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
  }
  .btn {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 17px;
  }
  .btn-transparent {
    border: 1px solid $theme-color;
    color: $theme-color;
  }
  .img-container {
    margin: 0;
    img {
      width: 50%;
    }
  }

  hr {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .container {
    .font {
      h5 {
        padding: 0%;
      }
      .tag {
        width: 70vw;
        font-size: 30px;
        height: 100%;
        padding: 20px;
        text-align: center;
        line-height: 30px;
        letter-spacing: 0.2px;
        font-size: $font-secondary;
        font-weight: $font-weight;
      }
    }
  }
  //
}
