@import "../../styles/globals.scss";
.appwork {
  margin: 0;
  padding: 0;
}

.para {
  color: black;
  font-family: $font-secondary;
  font-weight: $font-600;
  font-size: 44px;
  line-height: $line-height;
  text-align: center;
}
.acc-grid {
  display: flex;
  justify-content: center;
}
.acc-grid {
  img {
    height: 100%;
    width: 100%;
    max-width: 400px;

    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
  }

  .acctxt {
    width: 568px;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;

    margin-top: 100px;

    p,
    h2 {
      color: black;
    }
    h2 {
      font-size: 40px;
      line-height: 50px;
    }
    h3 {
      font-family: $font-secondary;
      font-size: 24px;
      font-weight: $font-weight;
      line-height: 36px;
      letter-spacing: 0.1;
      color: $theme-color;
    }
    h4 {
      color: #737373;
      font-weight: 500;
      width: 467px;
      text-align: left;
    }
  }
}
@media (max-width: 850px) {
  .para {
    font-size: 24px;
    bottom: 0;
    margin-top: -200px;
  }
  .acc-grid {
    flex-wrap: wrap;
    flex-direction: column-reverse;

    .gridimg {
      width: 100%;
      margin: auto;
    }
    .acctxt {
      text-align: center;

      width: 100%;

      h2 {
        font-size: 24px;
        line-height: 30px;
      }
      h3 {
        display: contents;
        font-size: 24px;
      }
      h4 {
        display: contents;
        width: 320vw;
        color: #737373;
      }
    }
  }
}
