@import "../../styles/globals.scss";
.appwork {
  margin: 0;
  padding: 0;
  margin-top: 700px;
}
.para {
  color: black;
  font-family: $font-secondary;
  font-weight: $font-600;
  font-size: 44px;
  line-height: $line-height;
  text-align: center;
}
.acc-grid {
  display: grid;
  width: 100vw;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 171px;
}

.acc-grid {
  img {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-left: 245px;
    filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.15));
  }
  .acctxt {
    width: 568px;
    height: 280px;
    display: grid;
    margin-top: 340px;
  }
  .acctxt {
    p,
    h2,
    h4 {
      color: black;
    }
    h2 {
      font-size: 40px;
      line-height: 57px;
      margin-top: 50px;
    }
    h3 {
      font-family: $font-secondary;
      font-size: 24px;
      font-weight: $font-weight;
      line-height: 36px;
      letter-spacing: 0.1;
      color: $theme-color;
      margin-top: 0px;
    }

    h4 {
      font-weight: 500;
      width: 467px;
      text-align: left;
      top: 2050px;
    }
  }
}
@media (max-width: 800px) {
  .appwork {
    margin-top: 370px;

    .para {
      font-size: 24px;
    }

    img {
      margin-left: 50px;
      height: 100%;
      width: 100vw;
    }
    .acctxt {
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}
