@import "./globals.scss";
* {
  box-sizing: border-box;
  color: $bg-color;
  font-family: $primary-family;
  margin: 0;
  padding: 0;
}
.container {
  background: url("../images/bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 619px;
  width: 100vw;
}
.font {
  display: flex;
  justify-content: center;
  top: 72px;
  position: relative;
}
h3 {
  position: absolute;
  font-style: normal;
  font-weight: $font-weight;
  font-size: 24px;
  line-height: 36px;
}
.tag {
  width: 850px;
  font-size: 58px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-top: 40px;
}
h4 {
  position: absolute;
  margin-top: 200px;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 150px;
  column-gap: 20px;
}

.btn-orng {
  width: 236px;
  height: 68px;
  background: $theme-color;
  box-shadow: 0px 10px 30px rgba(183, 50, 39, 0.2);
  border-radius: 30px;
  font-family: $primary-family;
  font-weight: $font-weight;
}

.btn-transparent {
  width: 236px;
  height: 68px;
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 30px;
  flex-grow: 0;
}

.img {
  position: absolute;
  left: 426px;
  top: 400px;

  filter: drop-shadow(50px 30px 150px rgba(46, 4, 4, 0.21));
  width: 599px;
  height: 886px;
  z-index: 1;
  /* phone mock up drop shadow */
}

.imgw {
  position: absolute;
  width: 285px;
  height: 531px;
  left: 789px;
  top: 719px;
}
