@import "../../styles/globals.scss";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: $primary-family;
  font-weight: 600;
}
.navbar {
  display: flex;
  width: 100vw;
  height: 156px;
  background-color: $bg-color;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}
.navbar {
  ul {
    display: flex;
    color: black;
    gap: 94px;
  }
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  li:last-child {
    margin-right: 40px;
  }
}

a:hover {
  color: $theme-color;
}
.navbar-tgl {
  display: none;
}

@media (max-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;

    align-items: center;
    ul {
      display: none;
    }
  }
  .iconsBox {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0%;
  }
  .navbar {
    img {
      display: flex;
    }
  }
  .navbar-tgl {
    display: inline;
    margin: 50px 0;
  }

  a {
    display: none;
  }
}
